<div class="advanceSearchButton clearfix">
    <a href="#" class="btn btn-primary btn-sm pull-right current after" onclick="$('#searchdiv').toggle();return false;" style="top: 15px;">
        {lang code="com_advance_results"}
        <i class="glyphicon glyphicon-chevron-down down"></i>
        <i class="glyphicon glyphicon-chevron-up up" style="display:none;"></i>
    </a>
</div>

<div class="search_box well" id="searchdiv" {if $smarty.cookies.show_searchdiv_search!='show'} style="display:none;"{/if}>
    <form id="video_search" name="video_search" method="get" action="manage_playlist.php" class="video_search">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="userid">Userid</label>
                    <input class="form-control" name="userid" type="text" id="userid" value="{'userid'|get_form_val:true}" />
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                    <label for="title">Playlist title</label>
                    <input name="playlist_name" type="text" class="form-control" id="title" value="{'playlist_name'|get_form_val:divue}" />
                </div>  
            </div>
            <div class="col-md-4">
              <div class="form-group">
                    <label for="tags">Playlist tags</label>
                    <input class="form-control" name="tags" type="text" id="tags" value="{'tags'|get_form_val:true}" />
                </div>  
            </div>
        </div>
        <div class="form-group">
            <input type="submit" name="search" id="search" value='{lang code="search"}' class="btn btn-success btn-sm"/>
        </div>
    </form>
</div>

 <script type="text/javascript">
	$(document).ready(function neww ()
	{
		$(".current").click(function() {
			$(this).toggleClass('after');
			if(!$(this).hasClass('after'))
			{
				$('.down').hide();
				$('.up').show();
			} else {
				$('.down').show();
				$('.up').hide();
			}
		});
	})
</script>