<div id="messageFav" class="channel-alert"></div>
<div class="cover" id="coverContainer">
	<div class="cover-holder clearfix">
		<img class="img-responsive cb-live-background" src="{if $coverPhoto != ''}{$coverPhoto}{else}/images/cover_default.jpg {/if}" size='1140x276' alt="">
		
		{if $user.userid == userid()}
		<a href="#" class="btn btn-sm changeCover" id="changeCover">{lang code="update_cover"}<span class="icon-photo"></span></a>
		{/if}

		<div class="ratting-counts clearfix">
			{if $user.userid != userid() && config('channel_rating')=='1' }
			<div class="user-ratting" id="rating_container">
				{show_video_rating rating=$p.rating ratings=$p.rated_by total='10' id=$user.userid type=user}
			</div>
			{/if}
			<ul class="counters">
			{if isSectionEnabled('videos')}
				<li>
					<i class="icon-videos"></i>{prettyNum($user.total_videos)} &nbsp;<span>{lang code='videos'}</span>
				</li>
			{/if}
			{if isSectionEnabled('photos')}
				<li>
					<i class="icon-photos"></i>{prettyNum($user.total_photos)} &nbsp;<span>{lang code='photos'}</span>
				</li>
			{/if}
				<li>
					<i class="icon-views"></i>{prettyNum($user.profile_hits)} &nbsp;<span>{lang code='views'}</span>
				</li>
				<li>
					<i class="icon-subscribers"></i><span id="user_subscribers_{$user.userid}">{prettyNum($user.subscribers)}</span> &nbsp;<span>{lang code='subscribers'}</span>
				
				</li>
			</ul>
		</div>
		<div class="friend-block clearfix">
			{if $user.userid != userid()}
				{$friend_status = $userquery->friendship_status(userid(), $user.userid)}
				{if $friend_status == "f"}
				<a href="/manage_contacts.php?mode=delete&userid={$u.userid}" class="btn btn-danger btn-sm new1">
					{lang code="unfriend"}
				</a>
				{elseif $friend_status == "r"}
				<a href="/manage_contacts.php?mode=requests&confirm={$u.userid}" class="btn btn-primary btn-sm new1">
					{lang code="accept_request"}
				</a>
				{elseif $friend_status == 's'}
				<a href="/manage_contacts.php?mode=delete&userid={$u.userid}" class="btn btn-primary btn-sm new1">
					{lang code="cancel_request"}
				</a>
				{else}
				<a href="javascript:void(0);" class="btn btn-primary btn-sm new1"
				   onclick="_cb.add_friendNew('{$user.userid}','result_cont')"> 
					{lang code="add_as_friend"}
				{/if}
				</a>
			{/if}
		</div>
	</div>

	<div class="avatar">
		<img class="img-responsive img-circle" src="{$userquery->getUserThumb($user)}">
	</div>

	<div class="profile-buttons clearfix">
		<h2>{display_clean($user.username)}</h2>
		<div class="btn-holder">
			{if $user.userid != userid()}
				<button id="report-user" class="btn btn-default">{lang code="report_usr"}</button>
				<a href="/private_message.php?mode=new_msg&to={display_clean($user.username)}" class="btn btn-default">
					{lang code="user_send_message"}
				</a>
				{if $userquery->is_subscribed($user.userid,userid())}
					<button class="btn btn-default subs_{$user.userid}" onclick="_cb.unsubscribeToChannel('{$user.userid}','unsubscribe_user');">
						{lang code="unsubscribe"}
					</button>
				{else}
					<button class="btn btn-default subs_{$user.userid}" onclick="_cb.subscribeToChannelNew('{$user.userid}','subscribe_user');">
						{lang code="subscribe"}
					</button>
				{/if}
			{/if}
		</div>
	</div>
</div>