.video-js {
	width: 100% !important;
}
.video-js .vjs-tech {
	height: 100% !important;
}
.editorpick .cb_video_js-dimensions{
	width: 100% !important;
	height: 100% !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder{
	width: 3em;
	height: 1.5em;
	position: absolute;
	border-radius: 0.3em;
	border: 0.06666em solid rgb(255, 255, 255);
	left: calc(50% - 1.5em);
	top: calc(50% - 0.75em);
}

.video-js .vjs-big-play-button {
	top: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	border: none !important;
}

.vjs-cb-header-caption {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 8px 10px
}

.vjs-cb-header-caption .captionBlock {
	display: table;
	width: 100%;
	table-layout: fixed
}

.vjs-cb-header-caption .captionBlock .col {
	display: table-cell;
	vertical-align: middle
}

.vjs-cb-header-caption .captionBlock .vidTitle {
	width: 70%
}

.vjs-cb-header-caption .captionBlock a {
	font-size: 1.4em;
	margin: 0;
	line-height: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fff;
	text-decoration: none
}

.vjs-cb-header-caption .captionBlock .uploaderName {
	float: right;
	font-size: 1.4em;
	font-weight: 400;
	text-align: right
}

.vjs-has-started .vjs-cb-header-caption {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition: visibility 0.1s, opacity 0.1s;
}

.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-cb-header-caption {
	visibility: visible;
	opacity: 0;
	transition: visibility 1s, opacity 1s;
}

.vjs-controls-disabled .vjs-cb-header-caption,
.vjs-using-native-controls .vjs-cb-header-caption,
.vjs-error .vjs-cb-header-caption {
	display: none !important;
}

.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing .vjs-cb-header-caption {
	opacity: 1;
	visibility: visible;
}

.vjs-has-started.vjs-no-flex .vjs-cb-header-caption {
	display: table;
}

.video-js .vjs-big-play-button {
	border-radius: initial !important;
}

.vjs-cblogo-brand a{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 30px;
	background-repeat:no-repeat;
	background-position:center;
}