{assign var='required_fields' value=$userquery->load_signup_fields()}
{assign var='custom_field' value=$userquery->custom_signup_fields}
<div class="heading">
    <h2>Add New User</h2>
</div>


<p class="alert alert-info">Required Member Details</p>
<form method="post">

    <div class="row">

    {$field.class = 'form-control'}
        {$field = $required_fields.username}
        {$field.class = 'form-control'}
   <div class="col-md-4">
           <label for="{$field.id}">{$field.title}</label>
           {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
   </div>

       {$field = $required_fields.email}
       {$field.class = 'form-control'}
       <div class="col-md-4">
               <label for="{$field.id}">{$field.title}</label>
               {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
   </div>
        {$field = $required_fields.dob}
        {$field.class = 'form-control'}
        {$field.id = 'datecreated'}
        <div class="col-md-4 ">
            <span class="glyphicon glyphicon-calendar"></span>
            <label for="{$field.id}" >{$field.title}</label>
            {if $field.hint_1}{$field.hint_1}<br>{/if}  {ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}

        </div>
</div>
<br>
    <div class="row">
    {$field = $required_fields.password}
    {$field.class = 'form-control'}
    <div class="col-md-4">
        <label for="{$field.id}">{$field.title}</label>
        {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
    </div>
    {$field = $required_fields.cpassword}
    {$field.class = 'form-control'}
    <div class="col-md-4">
        <label for="{$field.id}">{$field.title}</label>
        {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
    </div>
    <div class="col-md-4">
        <label for="active">Status</label>
        <select class="form-control" name="active" id="active">
            <option value="Ok">Active</option>
            <option value="ToActivate">Inactive</option>
        </select>
    </div>
</div>

<br>
    <div class="row">
        {$field = $required_fields.gender}
        {$field.class = 'form-control'}
           <div class="col-md-4">
            <label for="{$field.id}">{$field.title}</label><br>
            {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
        </div>
        <div class="col-md-4">
            <label for="level">User level</label>
            <select class="form-control" name="level" id="level">
                {assign var=levels value=$userquery->get_levels()}
                {foreach from=$levels item=level}
                <option value="{$level.user_level_id}" {if $smarty.post.level==$level.user_level_id} selected{elseif $level.user_level_id==2}selected{/if}>{$level.user_level_name}</option>
                {/foreach}
            </select>
        </div>
        {$field = $required_fields.country}
        {$field.class = 'form-control'}
        {$field.type = 'dropdown'}
        <div class="col-md-4">
            <label for="{$field.id}">{$field.title}</label>
            {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
        </div>
    </div>
    <br>
    <div class="row">
        {$field = $required_fields.cat}
        {$field.class = 'form-control'}
        <div class="col-md-4">
            <label for="{$field.id}">{$field.title}</label>
            {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}{$field.hint_2}{/if}
        </div>
        </div>
    <br>

    {if $custom_field}
    <h3>Other Settings</h3>
    {foreach from=$custom_field item=field}
      <div class="form-group">
        <label for="{$field.id}" class="label">{$field.title}</label>
        {$field.class=form-control}
        {if $field.hint_1}{$field.hint_1}<br>{/if}{ANCHOR place=$field.anchor_before}{$formObj->createField($field)}{ANCHOR place=$field.anchor_after}{if $field.hint_2}<br>{$field.hint_2}{/if}
      </div>
    {/foreach}
    {/if}
    <div class="form-group">
      <input type="submit" name="add_member" value="Add Member" class="btn btn-info" id="add_member"/>
    </div>
</form>

<script type="text/javascript" src="/js/jquery-ui-1.10.4.min.js"></script>
<script>
    $(document).ready(function(){
        jQuery('#datecreated').datepicker({
            showOtherMonths: true,
            selectOtherMonths: false,
            changeMonth: true,
            dateFormat:"{get_date_js()}",
            changeYear: true,
            yearRange: "-56:+0"
        });
        var currentDate = new Date();
        $("#dob").datepicker("setDate", currentDate);
    });
</script>