<div class="heading paddingBottomSmall">
    <div class="form-group">
        <h2>Video Categories
            <div class="dropdown pull-right">
                <button id="hideshow" class="btn btn-default pull-right dropdown-toggle" data-toggle="dropdown">
                    Add new Category <i class="caret"></i>
                </button>
            </div>
        </h2>
    </div>
</div>

{if $edit_category != "show"}
<div class="row">
    <div id="content" style="display:none;">
        <form action="category.php" method="post" enctype="multipart/form-data" name="add_category" id="Add Category">
            <div class="row">
                <div class="col-md-4">
                    <label>Category Name*</label>
                    <input type="text" id="name" name="name" class="form-control" >
                </div>
    {assign var=useSubs value=config(use_subs)}
    {if $useSubs == 1}
                <div class="col-md-4">
                    <label>Parent Category</label>
                    {cbCategories output="dropdown" class="form-control" name="parent_cat" id="parent_cat" blank_option=TRUE echo=TRUE type="video"}
                </div>
    {/if}
                <div class="col-md-4">
                    <label for="default">Make Default Category</label>
                    <select class="form-control" name="default" id="default">
                        <option class="form-control" value="yes">{lang code='yes'}</option>
                        <option class="form-control" value="no" selected>{lang code='no'}</option>
                    </select>
                </div>
            </div>
            <div class="row marginTopLarge">
                <div class="col-md-12">
                    <label for="description">{lang code='description'}</label>
                    <textarea class="form-control" name="desc" id="description" cols="33" rows="5" >{'desc'|post_form_val}</textarea>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label for="cat_thumb">Category Thumb</label>
                    <input type="file" name="cat_thumb" id="cat_thumb"/>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-right button" name="add_category" id="button" value="Add Category"/>
                </div>
            </div>
        </form>
    </div>
</div>
{/if}

{if $edit_category == "show"}
<div class="row">
    <div id="content">
        <form method="post" enctype="multipart/form-data" name="edit_category" id="Edit Category">
            <input name="cid" value="{$cat_details.category_id}" type="hidden" />
            <input name="cur_name" value="{display_clean($cat_details.category_name)}" type="hidden" />
            <div class="row">
                <div class="col-md-4">
                    <label for="name">Category Name*</label>
                    <input name="name" class="form-control" type="text" id="name" value="{display_clean($cat_details.category_name)}" size="45" />
                </div>
                <div class="col-md-4">
                    <label>Parent Category</label>
                    {cbCategories output="dropdown" class='form-control' selected=$cat_details.parent_id name="parent_cat" id="parent_cat" blank_option=TRUE type="video" echo=TRUE}
                </div>
                <div class="col-md-4">
                    <label for="default_categ">Make Default Category</label>
                    <select class="form-control" name="default_categ" id="default_categ">
                        <option class="form-control" {if $cat_details.isdefault=='yes'}selected{/if} value="yes">{lang code='yes'}</option>
                        <option class="form-control" {if $cat_details.isdefault=='no' || $cat_details.isdefault==''}selected{/if} value="no">{lang code='no'}</option>
                    </select>
                </div>
            </div>
            <div class="row marginTopLarge">
                <div class="col-md-12">
                    <label>{lang code='description'}</label>
                    <textarea class="form-control" name="desc" id="description" cols="33" rows="5">{display_clean($cat_details.category_desc)}</textarea>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-6">
                    <label>Category Thumb</label>
                    <input type="file" name="cat_thumb" id="cat_thumb"/>
                </div>
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-right button" name="update_category" id="button" value="Update Category"/>
                </div>
            </div>
        </form>
    </div>
</div>
{/if}

<div class="row">
    <h4>Category List</h4>

{if $total != 0}
    <form name="category" action="?update_order" method="post">
        <table class="table table-bordered" width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
                <td width="20"><input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/></td>
                <td width="225" class="left_head" style="text-indent:10px">Category Name</td>
                <td width="75" align="left" class="head">Order</td>
                <td width="225" align="left" class="head">Parent Category</td>
                <td width="250" class="head">{lang code='description'}</td>
                <td width="100" class="head">Default</td>
                <td width="150" class="head">Action</td>
            </tr>
    {section name=list loop=$category}
        {if $category[list].parent_id == "0"}
            {assign var=p_name value="None"}
        {else}
            {assign var=p_name value=$cbvid->get_category_field($category[list].parent_id,'category_name')}
        {/if}
            <tr>
                <td>
                    <input name="check_user[]" type="checkbox" id="check_user" value="{$u.userid}"/>
                </td>
                <td>
                    {display_clean($category[list].category_name)}
                    <a id="thumbs_{$category[list].category_id}" class="label label-danger arrowed popoverButton" data-html="true" data-placement="top" data-toggle="popover" data-content="<img src='{$cbvid->get_category_thumb($category[list], 'video')}' height='90' width='90'/>" href="javascript:void(0);">View Thumb</a>
                </td>
                <td>
                    <input name="category_order_{$category[list].category_id}" type="text" id="order" style="border:1px solid #999; padding:2px; width:30px" value="{$category[list].category_order}" size="5" maxlength="5" />
                </td>
                <td>{display_clean($p_name)}</td>
                <td>{if $category[list].category_desc}{display_clean($category[list].category_desc)}{else}<em>N/A</em>{/if}</td>
                <td>{$category[list].isdefault}</td>
                <td>
                    <div class="lead dropdown">
                        <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                            Options <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="?category={$category[list].category_id}">{lang code='edit'}</a>
                            </li>
                        {if $category[list].isdefault != "yes"}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1" href="?delete_category={$category[list].category_id}">{lang code="delete"}</a>
                            </li>
                            <li>
                                <a href="?make_default={$category[list].category_id}"></a>
                            </li>
                        {/if}

                        {foreach from=$cbvid->video_categories_manager_link item=links}
                            {$cbvid->video_categories_manager_link($links,$category[list])}
                        {/foreach}
                        </ul>
                    </div>
                </td>
            </tr>
    {/section}
        </table>
        <input type="submit" value="Update Category" name="update_order" class="btn btn-primary btn-sm"  style="margin-top:10px;"/>
    </form>
{else}
    No Category Has Been Created Yet
{/if}
</div>

<script>
    var button = document.getElementById('hideshow'); // Assumes element with id='button'

    button.onclick = function() {
        var div = document.getElementById('content');
        if (div.style.display !== 'none') {
            div.style.display = 'none';
        } else {
            div.style.display = 'block';
        }
    };
</script>

