<div class="heading clearfix">
    <h2 class="pull-left">{lang code='manage_collections'}</h2>
    {include file="$layout_dir/blocks/advanced_collection_search.html"}
</div>

{if $collections}
<form name="video_manage" method="post">
	<div class="btn-group marginBottomLarge">
		<input class="btn btn-primary btn-xs button" type="submit" name="activate_selected" value="{lang code='activate'}"/>
		<input class="btn btn-primary btn-xs button" type="submit" name="deactivate_selected" value="{lang code='deactivate'}"/>
		<input class="btn btn-primary btn-xs button" type="submit" name="delete_selected" value="{lang code='delete'}" onclick="return confirm_it('Are you sure you want to delete selected collection(s)')"/>
    </div>

    <table class="table table-bordered table-striped manageUsersTable">
        <thead>
            <td>
                <input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
            </td>
            <td>CID</td>
            <td>{lang code='details'}</td>
            <td>{lang code='views'}</td>
            <td>Parent collection</td>
            <td>Options</td>
        </thead>
    {section name=list loop=$collections}
        <tr>
            <td>
                <input name="check_collection[]" type="checkbox" id="check_collection" value="{$collections[list].collection_id}"/></td>
            <td>{$collections[list].collection_id}</td>

            <td>
                <div class="row">
                    <div class="col-md-10">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{$cbcollection->coll_first_thumb($collections[list],'s')}" width="128" height="80"/>
                            </div>
                            <div class="col-md-9">
                                <a href="/admin_area/edit_collection.php?collection={$collections[list].collection_id}">{display_clean($collections[list].collection_name)}</a> ({$collections[list].total_objects} {$collections[list].type})

                                <div class="labels">
                                    {if $collections[list].featured=='yes'}<span class="label label-primary">{lang code='featured'}</span>{/if}
                                    <span class="label {if $collections[list].active=='yes'}label-success{else}label-warning{/if}">{if $collections[list].active=='yes'}{lang code='active'}{else}{lang code='inactive'}{/if}</span>
                                    <span class="label label-info">{lang code='type'} : <strong>{lang code=$collections[list].type}</strong></span>
                                    <span class="label label-info"><strong>{$collections[list].date_added|niceTime}</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <a href="view_user.php?uid={$collections[list].userid}">{display_clean($collections[list].username)}</a>
                    </div>
                </div>
            </td>
            <td>
                {$collections[list].views}
            </td>
            <td>
                {display_clean($collections[list].collection_name_parent)}
            </td>
            <td>
                <div class="dropdown">
                    <button id="dropdownMenu1" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Actions <i class="caret"></i></button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="edit_collection.php?collection={$collections[list].collection_id}">{lang code='edit'}</a></li>
                        <li role="presentation"><a target="_blank" role="menuitem" tabindex="-1" href="/view_collection.php?cid={$collections[list].collection_id}&type={$collections[list].type}">{lang code='watch'}</a></li>
                        {if $collections[list].active == yes}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="?deactivate={$collections[list].collection_id}">{lang code='deactivate'}</a></li>
                        {else}
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="?activate={$collections[list].collection_id}">{lang code='activate'}</a></li>
                        {/if}
                        <li class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="?delete_collection={$collections[list].collection_id}">{lang code='delete'}</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {/section}
    </table>

    <div class="btn-group">
        <input class="btn btn-primary btn-xs button" type="submit" name="activate_selected" value="{lang code='activate'}"/>
        <input class="btn btn-primary btn-xs button" type="submit" name="deactivate_selected" value="{lang code='deactivate'}"/>
        <input class="btn btn-primary btn-xs button" type="submit" name="delete_selected" value="{lang code='delete'}" onclick="return confirm_it('Are you sure you want to delete selected collection(s)')"/>
    </div>
</form>

{else}
    <div align="center"><strong><em>No collection Found</em></strong></div>
{/if}

{include file="$style_dir/blocks/pagination.html" }