<div class="heading">
	<h2>Website Configurations</h2>
</div>
<script>
    function display_tab(divId)
    {
        $('ul.nav-tabs:not(.resolutions) li').removeClass('active');
        $('ul.nav-tabs:not(.resolutions) li > a[href=\''+divId+'\'').parent().addClass('active');
        $('div.tab-content div:not(.resolutions)').removeClass('active');
        $(divId).addClass('active');
        setHash(divId);
    }

	function setHash(hash){
        window.location.hash = hash;
        $("#main_form").attr("action", hash);
	}

    $(document).ready(function ()
	{
	    if( window.location.hash === '' ){
            setHash($('ul.nav-tabs:not(.resolutions) li:first a').attr('href'));
		} else {
            display_tab(window.location.hash);
		}

        $('ul.nav-tabs:not(.resolutions) li a').click(function(){
        	setHash($(this).attr('href'));
		});

        // Hack : Bootstrap 3.X won't work with tabs in tabs
        $('ul.nav-tabs.resolutions a').click(function(){
            if( !$(this).parent().hasClass('active') ){
                let href = $(this).attr('href');
                $('#'+href).siblings().removeClass('active');
                $('#'+href).addClass('active');
            }
        });

        $("#mail_type").change(function() {
            if( $(this).val() == 'mail' ){
                $('.config_smtp').hide();
			} else {
				if( $("#smtp_auth:checked").length == 0 ) {
                	$('.config_smtp:not(.config_smtp_auth)').show();
                } else {
                    $('.config_smtp').show();
				}
			}
        });

        $("#smtp_auth").change(function() {
            if( $("#smtp_auth:checked").length == 1 ) {
                $('.config_smtp_auth').show();
            } else {
                $('.config_smtp_auth').hide();
            }
        });

        $("input[name='conversion_type']").change(function() {
            let inputs_mp4 = ['stay_mp4', 'keep_audio_tracks', 'keep_subtitles'];
            if( this.value == 'mp4' ){
                inputs_mp4.forEach(function(input){
                    $('#'+input).prop('disabled', false);
                    $('#'+input+'_hidden').prop('disabled', true);
                });
            } else {
                inputs_mp4.forEach(function(input){
                    $('#'+input).prop('disabled', true);
                    $('#'+input+'_hidden').prop('disabled', false);
                });
            }
        });

    });
</script>

<form name="form1" method="post" id="main_form">
	<input name="baseurl" value="{$row.baseurl}" type="hidden"/>
	<input name="basedir" value="{$row.baseurl}" type="hidden"/>
	<div class="row">
		<div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#config_general">
                        <h8>General</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_upload">
                        <h8>Upload</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_conversion">
                        <h8>Conversion</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_users">
                        <h8>{lang code='users'}</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_emails">
                        <h8>Emails</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_videos">
                        <h8>{lang code='videos'}</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_photos">
                        <h8>{lang code='photos'}</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_comments">
                        <h8>{lang code='comments'}</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_ratings">
                        <h8>Ratings</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_listings">
                        <h8>Listings</h8>
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#config_proxy">
                        <h8>Proxy</h8>
                    </a>
                </li>
            </ul>
			<div class="tab-content">
				<div id="config_general" class="tab-pane active">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="site_title" title="Website title">Website title</label>
								</div>
								<div class="col-md-8">
									<input class="form-control" name="site_title" id="site_title" value="{$row.site_title}" size="45"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="site_slogan" title="Website slogan">Website slogan</label>
								</div>
								<div class="col-md-8">
									<input class="form-control" name="site_slogan" id="site_slogan" value="{$row.site_slogan}" size="45"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="keywords" title="Meta Keywords">Meta Keywords</label>
								</div>
								<div class="col-md-8">
									<input class="form-control" name="keywords" id="keywords" value="{$row.keywords}" size="45"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-12">
									<label class="nowrap" for="description" title="Meta Description">Meta Description</label>
									<textarea class="form-control" name="description" id="description" cols="45" rows="5">{$row.description}</textarea>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="closed" title="Website closed">Website closed</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="1" id="closed" {if $row.closed=='1'}checked{/if} name="closed" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
									<span class="lbl"></span>
								</div>

								<div class="col-md-4">
									<label class="nowrap" for="enable_update_checker" title="Enable update checker">Enable update checker</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="1" id="enable_update_checker" {if $row.enable_update_checker=='1'}checked{/if} name="enable_update_checker" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="seo" title="Use SEO Urls">Use SEO Urls</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="seo" id="seo" {if $row.seo=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="store_guest_session" title="Store guest Session">Store guest Session</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" id="store_guest_session" {if $row.store_guest_session=='yes'}checked{/if} name="store_guest_session" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="date_format" title="Date Format">Date Format</label>
								</div>
								<div class="col-md-8">
									<input class="form-control" name="date_format" id="date_format" value="{$row.date_format}" size="45"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-12">
									<label class="nowrap" for="closed_msg" title="Closed message">Closed message</label>
									<textarea class="form-control" name="closed_msg" id="closed_msg" cols="45" rows="5">{$row.closed_msg}</textarea>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="videosSection" title="Enable Videos">Enable Videos</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="videosSection" id="videosSection" {if $row.videosSection=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="photosSection" title="Enable Photos">Enable Photos</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="photosSection" id="photosSection" {if $row.photosSection=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="collectionsSection" title="Enable Collections">Enable Collections</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="collectionsSection" id="collectionsSection" {if $row.collectionsSection=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="channelsSection" title="Enable Channels">Enable Channels</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="channelsSection" id="channelsSection" {if $row.channelsSection=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="enable_advertisement" title="Enable advertisement">Enable advertisement</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="enable_advertisement" id="enable_advertisement" {if $row.enable_advertisement=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="allow_registeration" title="Enable registrations">Enable registrations</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="1" id="allow_registeration" {if $row.allow_registeration=='1'}checked{/if} name="allow_registeration" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="allow_language_change" title="Allow language change">Allow language change</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="1" name="allow_language_change" id="allow_language_change" {if $row.allow_language_change=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="allow_template_change" title="Allow template change">Allow template change</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="1" id="allow_template_change" {if $row.allow_template_change=='1'}checked{/if} name="allow_template_change" type="checkbox" class="ace ace-switch ace-switch-5 bootstrap-switch-on"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="use_cached_pagin" title="Use cached pagination">Use cached pagination</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input value="yes" name="use_cached_pagin" id="use_cached_pagin" {if $row.use_cached_pagin=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="cached_pagin_time" title="Pagination caching time">Pagination caching time</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input class="form-control" name="cached_pagin_time" id="cached_pagin_time" value="{$row.cached_pagin_time}" size="5"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="search_list_per_page" title="Search results per page">Search results per page</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input class="form-control" name="search_list_per_page" id="search_list_per_page" value="{$row.search_list_per_page}" size="5"/>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="recently_viewed_limit" title="Recently viewed videos">Recently viewed videos</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input class="form-control" name="recently_viewed_limit" id="recently_viewed_limit" value="{$row.recently_viewed_limit}" size="5"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="comments_per_page" title="Comments per page">Comments per page</label>
								</div>
								<div class="col-md-2 row-size no_padding">
									<input class="form-control" name="comments_per_page" id="comments_per_page" value="{$row.comments_per_page}" size="5"/>
								</div>
							</div>
							<hr/>

						</div>
					</div>
				</div>
				<div id="config_users" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="min_username" title="Minimum Username Length">Minimum Username Length</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="min_username" id="min_username" value="{$row.min_username}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="default_country_iso2" title="Default Country">Default Country</label>
								</div>
								<div class="col-md-8">
									<select class="form-control" name="default_country_iso2" id="default_country_iso2">
										{foreach from=$Cbucket->get_countries(iso2) item=country key=code}
										<option {if $code==$row.default_country_iso2}selected{/if} value="{$code}">
											{$country}
										</option>
										{/foreach}
									</select>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="min_age_reg" title="Minimum age for registration"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Leave blank to disable this option"> Minimum age for registration</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="min_age_reg" id="min_age_reg" value="{$row.min_age_reg}" size="6" maxlength="3"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="gravatars" title="Enable Gravatars">Enable Gravatars</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="gravatars" id="gravatars" {if $row.gravatars=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="picture_url" title="Allow picture URL">Allow picture URL</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="picture_url" id="picture_url" {if $row.picture_url=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="picture_upload" title="Allow picture upload">Allow picture upload</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="picture_upload" id="picture_upload" {if $row.picture_upload=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="background_url" title="Allow Background URL">Allow Background URL</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="background_url" id="background_url" {if $row.background_url=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_profile_pic_size" title="Max profile pic size"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="In KBs"> Max profile pic size</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_profile_pic_size" id="max_profile_pic_size" value="{$row.max_profile_pic_size}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_bg_size" title="Max Background Size"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="In KBs"> Max Background Size</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_bg_size" id="max_bg_size" value="{$row.max_bg_size}"/>
								</div>
							</div>
							<hr/>

						</div>

						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_username" title="Maximum Username Length">Maximum Username Length</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_username" id="max_username" value="{$row.max_username}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="pick_geo_country" title="IP Geolocalisation"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Replace default country"> IP Geolocalisation</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="pick_geo_country" id="pick_geo_country" {if $row.pick_geo_country=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="email_verification" title="Email verification">Email verification</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="email_verification" id="email_verification" {if $row.email_verification=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="anonymous_id" title="Anonymous UserID">Anonymous UserID</label>
								</div>
								<div class="col-md-8">
									<input class="form-control" name="anonymous_id" id="anonymous_id" value="{$row.anonymous_id}" size="6" maxlength="3"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="background_upload" title="Allow background upload">Allow background upload</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="background_upload" id="background_upload" {if $row.background_upload=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="background_color" title="Allow background color">Allow background color</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="background_color" id="background_color" {if $row.background_color=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

							<div class="row">
								<div class="row">
									<div class="col-md-6">
										<label class="nowrap" for="email_domain_restriction" title="Email domain restriction"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="List of authorized domains, separated by commas"> Email domain restriction</label>
									</div>
									<div class="col-md-6">
										<input class="form-control" name="email_domain_restriction" id="email_domain_restriction" value="{$row.email_domain_restriction}"/>
									</div>
								</div>
							</div>
							<hr/>

							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_profile_pic_width" title="Max profile pic width"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="In Pixels"> Max profile pic width</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_profile_pic_width" id="max_profile_pic_width" value="{$row.max_profile_pic_width}"/>
								</div>
							</div>
							<hr/>

							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_bg_width" title="Max Background width"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="In Pixels"> Max Background width</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_bg_width" id="max_bg_width" value="{$row.max_bg_width}"/>
								</div>
							</div>
							<hr/>

						</div>

						<div class="col-md-4">
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="allow_unicode_usernames" title="Allow Special Characters in usernames">Allow Special Characters in usernames</label>
								</div>
								<div class="col-md-4 row-size">
									<input value="yes" name="allow_unicode_usernames" id="allow_unicode_usernames" {if $row.allow_unicode_usernames=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="allow_username_spaces" title="Allow spaces in usernames">Allow spaces in usernames</label>
								</div>
								<div class="col-md-4 row-size">
									<input value="yes" name="allow_username_spaces" id="allow_username_spaces" {if $row.allow_username_spaces=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-12">
									<label class="nowrap" for="disallowed_usernames" title="Disallowed usernames"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Sperate by commas"> Disallowed usernames</label>
									<textarea class="form-control" name="disallowed_usernames" id="disallowed_usernames" cols="45" rows="5">{$row.disallowed_usernames}</textarea>
								</div>
							</div>
							<hr/>

						</div>
					</div>
				</div>
                <div id="config_upload" class="tab-pane">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="nowrap" for="max_video_duration" title="Max video duration"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="In minutes"> Max video duration</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" name="max_video_duration" id="max_video_duration" value="{$row.max_video_duration}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" title="Video title size">Video title size</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="min_video_title" title="Min">Min</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="min_video_title" id="min_video_title" value="{$row.min_video_title}"/>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="max_video_title" title="Max">Max</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="max_video_title" id="max_video_title" value="{$row.max_video_title}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" title="Video description size">Video description size</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="min_video_desc" title="Min">Min</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="min_video_desc" id="min_video_desc" value="{$row.min_video_desc}"/>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="max_video_desc" title="Max">Max</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="max_video_desc" id="max_video_desc" value="{$row.max_video_desc}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" title="Video tags size">Video tags size</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="min_video_tags" title="Min">Min</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="min_video_tags" id="min_video_tags" value="{$row.min_video_tags}"/>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="max_video_tags" title="Max">Max</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="max_video_tags" id="max_video_tags" value="{$row.max_video_tags}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="nowrap" for="youtube_api_key" title="YouTube API Key">YouTube API Key</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" name="youtube_api_key" id="youtube_api_key" value="{$row.youtube_api_key}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="enable_sub_collection" title="Enable Sub-Collections">Enable Sub-Collections</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="enable_sub_collection" id="enable_sub_collection" {if $row.enable_sub_collection=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="activation" title="Video Activation"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="If left unchecked, all videos will be published directly. If checked, admin will have to approve videos before they appear on website"> Video Activation</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="activation" id="activation" {if $row.activation=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_activation" title="Photo Activation"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="If left unchecked, all photos will be published directly. If checked, admin will have to approve videos before they appear on website"> Photo Activation</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="photo_activation" id="photo_activation" {if $row.photo_activation=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="load_upload_form" title="Enable file upload">Enable file upload</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="yes" name="load_upload_form" id="load_upload_form" {if $row.load_upload_form=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                                <div class="col-md-4">
                                    <label class="nowrap" for="load_remote_upload_form" title="Enable remote upload">Enable remote upload</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="yes" name="load_remote_upload_form" id="load_remote_upload_form" {if $row.load_remote_upload_form=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="feedsSection" title="Enable feeds">Enable feeds</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="yes" name="feedsSection" id="feedsSection" {if $row.feedsSection=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="show_collapsed_checkboxes" title="Collapse video categories">Collapse video categories</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="show_collapsed_checkboxes" id="show_collapsed_checkboxes" {if $row.show_collapsed_checkboxes=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="use_subs" title="Use Sub-Categories">Use Sub-Categories</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="use_subs" id="use_subs" {if $row.use_subs=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="delete_mass_upload" title="Delete Mass upload"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Delete original files once uploaded from mass upload"> Delete Mass upload</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="yes" name="delete_mass_upload" id="delete_mass_upload" {if $row.delete_mass_upload=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="nowrap" for="allowed_video_types" title="Allowed Video extensions"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Sperate by commas"> Allowed Video extensions</label>
                                    <textarea class="form-control" name="allowed_video_types" id="allowed_video_types" cols="45" rows="5">{$row.allowed_video_types}</textarea>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="nowrap" for="allowed_photo_types" title="Allowed Photo extensions"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Sperate by commas"> Allowed Photo extensions</label>
                                    <textarea class="form-control" name="allowed_photo_types" id="allowed_photo_types" cols="45" rows="5">{$row.allowed_photo_types}</textarea>
                                </div>
                            </div>
                            <hr/>
                        </div>
                    </div>
                </div>
				<div id="config_conversion" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="php_path" title="PHP Path"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="PHP Binary Path"> PHP Path</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="php_path" id="php_path" value="{$row.php_path}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="media_info" title="Mediainfo Path"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Mediainfo Binary Path"> Mediainfo Path</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="media_info" id="media_info" value="{$row.media_info}"/>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="nowrap" for="ffmpegpath" title="FFmpeg Path"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="FFmpeg Binary Path"> FFmpeg Path</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" name="ffmpegpath" id="ffmpegpath" value="{$row.ffmpegpath}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="nowrap" for="ffprobe_path" title="FFprobe Path"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="FFprobe Binary Path"> FFprobe Path</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" name="ffprobe_path" id="ffprobe_path" value="{$row.ffprobe_path}"/>
                                </div>
                            </div>
                            <hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_conversion" title="Max videos to convert at once"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Video conversion use lot of ressources, be aware of what's you're doing !"> Max videos to convert at once</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="max_conversion" id="max_conversion" value="{$row.max_conversion}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="num_thumbs" title="Number of video thumbs">Number of video thumbs</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="num_thumbs" id="num_thumbs" value="{$row.num_thumbs}"/>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="nowrap" for="max_upload_size" title="Max upload file size">
                                        <img src="{$imageurl}/help.png" alt="In Mb" class="tipsy_tip" title="
										Default PHP Max Upload size is {$upload_max_size} and &#13;Post max size is {$post_max_size}. &#13;If you set max upload file size larger than this, it will be override by default, however, if set lower than default, it will work fine.">
                                        Max upload file size</label>
                                </div>
                                <div class="col-md-6">
                                    <input class="form-control" name="max_upload_size" id="max_upload_size" value="{$row.max_upload_size}"/>
                                </div>
                            </div>
                            <hr/>
						</div>
						<div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="nowrap" for="video_codec" title="Video Codec">Video Codec</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="video_codec" id="video_codec" value="{$row.video_codec}"/>
                                </div>
                                <div class="col-md-3">
                                    <label class="nowrap" for="audio_codec" title="Audio Codec">Audio Codec</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="audio_codec" id="audio_codec" value="{$row.audio_codec}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="nowrap" for="srate" title="Audio Rate">Audio Rate</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="srate" id="srate" value="{$row.srate}"/>
                                </div>
                                <div class="col-md-3">
                                    <label class="nowrap" for="sbrate" title="Audio Bitrate">Audio Bitrate</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="sbrate" id="sbrate" value="{$row.sbrate}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="nowrap" for="vrate" title="Frame rate target"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Video rate will be calculated to be the closer as possible from this value"> Frame rate target</label>
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control" name="vrate" id="vrate" value="{$row.vrate}"/>
                                </div>
								<div class="col-md-3">
									<label class="nowrap" for="subtitle_format" title="Subtitle Format">Subtitle Format</label>
								</div>
								<div class="col-md-3">
									<input class="form-control" name="subtitle_format" id="subtitle_format" value="{$row.subtitle_format}"/>
								</div>
                            </div>
                            <hr/>
							<div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="chromecast_fix" title="Chromecast compatibility" class="nowrap"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Force audio conversion to Stereo"> Chromecast compatibility</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="chromecast_fix" id="chromecast_fix" {if $row.chromecast_fix=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-10">
									<label class="nowrap" for="force_8bits" title="Improve compatibility"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Force video to 8bits colors maximum"> Improve compatibility</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="force_8bits" id="force_8bits" {if $row.force_8bits=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-10">
									<label class="nowrap" for="extract_subtitles" title="Extract subtitles"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Extract subtitles to dedicated files"> Extract subtitles</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="extract_subtitles" id="extract_subtitles" {if $row.extract_subtitles=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6 row-size">
									<img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Choose it wisely ! MP4 won't allow multiple audio tracks ; HLS won't allow download"> <label>Conversion type</label>
								</div>
								<div class="col-md-1">
									<input value="mp4" name="conversion_type" id="convesion_type_mp4" {if $row.conversion_type=='mp4'}checked{/if} type="radio" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-2">
									<label class="nowrap" for="convesion_type_mp4" title="MP4">MP4</label>
								</div>
								<div class="col-md-1">
									<input value="hls" name="conversion_type" id="convesion_type_hls" {if $row.conversion_type=='hls'}checked{/if} type="radio" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-2">
									<label class="nowrap" for="convesion_type_hls" title="HLS">HLS</label>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-10">
									<label class="nowrap" for="stay_mp4" title="Stay MP4 as it is"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Only use this option if you only want MP4 file uplad : this option disable video conversion and keep mp4 files as they are uploaded"> Stay MP4 as it is</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="stay_mp4" id="stay_mp4" {if $row.stay_mp4=='yes'}checked{/if} type="checkbox" {if $row.conversion_type=='hls'}disabled{/if} class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
                                    <input value="{$row.stay_mp4}" name="stay_mp4" id="stay_mp4_hidden" type="hidden" {if $row.conversion_type!='hls'}disabled{/if}/>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="keep_audio_tracks" title="Keep audio tracks"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Conserve all audio tracks in video files"> Keep audio tracks</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="keep_audio_tracks" id="keep_audio_tracks" {if $row.keep_audio_tracks=='1'}checked{/if} type="checkbox" {if $row.conversion_type=='hls'}disabled{/if} class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                    <input value="{$row.keep_audio_tracks}" name="keep_audio_tracks" id="keep_audio_tracks_hidden" type="hidden" {if $row.conversion_type!='hls'}disabled{/if}/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="keep_subtitles" title="Keep subtitles"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Conserve subtitles in video files"> Keep subtitles</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="keep_subtitles" id="keep_subtitles" {if $row.keep_subtitles=='1'}checked{/if} type="checkbox" {if $row.conversion_type=='hls'}disabled{/if} class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                    <input value="{$row.keep_subtitles}" name="keep_subtitles" id="keep_subtitles_hidden" type="hidden" {if $row.conversion_type!='hls'}disabled{/if}/>
                                </div>
                            </div>
                            <hr/>

						</div>

						<div class="col-md-4">
                            <div class="alert alert-info">
                                <div class="row">
                                    <ul class="nav nav-tabs resolutions">
                                        <li style=width:130px;">
                                            Video Resolutions
                                        </li>
                                        {$first = true}
                                        {foreach from=$video_resolutions key=key item=ratio}
                                        <li class="{if $first}active{/if}">
                                            <a data-toggle="tab" href="gen_{str_replace('/','_',$key)}">
                                                <h8>{$key}</h8>
                                            </a>
                                        </li>
                                            {$first = false}
                                        {/foreach}

                                    </ul>
                                    <div class="tab-content">
                                    {$first = true}
                                    {foreach from=$video_resolutions key=key item=ratio}
                                        <div id="gen_{str_replace('/','_',$key)}" class="tab-pane resolutions {if $first}active{/if}">
                                            {$count = 0}
                                            {foreach from=$ratio item=resolution}
                                                {if $count == 0}
                                            <div class="row">
                                                {/if}
                                                <div class="col-md-2">
                                                    <label class="nowrap" for="gen_{$resolution.title}" title="{$resolution.title}">{$resolution.title}</label>
                                                </div>
                                                <div class="col-md-2">
                                                    <input value="yes" name="gen_{$resolution.title}" id="gen_{$resolution.title}" {if {$resolution.enabled}=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                                    <span class="lbl"></span>
                                                </div>
                                                {$count = $count+1}
                                                {if $count == 3}
                                            </div>
                                            <hr/>
                                                    {$count = 0}
                                                {/if}
                                            {/foreach}
                                            {if $count != 0}
                                            </div>
                                            {/if}
                                        </div>
                                    {$first = false}
                                    {/foreach}
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <ul class="nav nav-tabs resolutions">
                                        <li style=width:130px;">
                                            Video Bitrates
                                        </li>
                                        {$first = true}
                                        {foreach from=$video_resolutions key=key item=ratio}
                                        <li class="{if $first}active{/if}">
                                        <a data-toggle="tab" href="bitrates_{str_replace('/','_',$key)}">
                                            <h8>{$key}</h8>
                                        </a>
                                        </li>
                                        {$first = false}
                                        {/foreach}
                                    </ul>

                                    <div class="tab-content">
                                    {$first = true}
                                    {foreach from=$video_resolutions key=key item=ratio}
                                        <div id="bitrates_{str_replace('/','_',$key)}" class="tab-pane resolutions {if $first}active{/if}">
                                            {$count = 0}
                                            {foreach from=$ratio item=resolution}
                                            {if $count == 0}
                                            <div class="row">
                                                {/if}
                                                <div class="col-md-3">
                                                    <label class="nowrap" for="vbrate_{$resolution.title}" title="{$resolution.title}">{$resolution.title}</label>
                                                </div>
                                                <div class="col-md-3">
                                                    <input class="form-control" name="vbrate_{$resolution.title}" id="vbrate_{$resolution.title}" value="{$resolution.video_bitrate}"/>
                                                </div>
                                                {$count = $count+1}
                                                {if $count == 2}
                                            </div>
                                            <hr/>
                                                    {$count = 0}
                                                {/if}
                                            {/foreach}
                                            {if $count != 0}
                                                </div>
                                            {/if}
                                        </div>
                                    {$first = false}
                                    {/foreach}
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-10">
                                        <label class="nowrap" for="allow_conversion_1_percent" title="Allow 1% difference"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Allow a 1% lower difference between expected video height/width and current video height/width"/> Allow 1% difference</label>
                                    </div>
                                    <div class="col-md-2 row-size">
                                        <input value="yes" name="allow_conversion_1_percent" id="allow_conversion_1_percent" {if $row.allow_conversion_1_percent=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                        <span class="lbl"></span>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
                </div>
				<div id="config_emails" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="website_email" title="Website Email">Website Email</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="website_email" id="website_email" value="{$row.website_email}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="support_email" title="Support Email">Support Email</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="support_email" id="support_email" value="{$row.support_email}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="welcome_email" title="Welcome Email">Welcome Email</label>
								</div>
								<div class="col-md-6">
									<input class="form-control" name="welcome_email" id="welcome_email" value="{$row.welcome_email}"/>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="send_comment_notification" title="Send Comment Notification">Send Comment Notification</label>
								</div>
								<div class="col-md-6 row-size">
									<input value="yes" name="send_comment_notification" id="send_comment_notification" {if $row.send_comment_notification=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="approve_video_notification" title="Send Video Approve Notification">Send Video Approve Notification</label>
								</div>
								<div class="col-md-6 row-size">
									<input value="yes" name="approve_video_notification" id="approve_video_notification" {if $row.approve_video_notification=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="mail_type" title="Mailer">Mailer</label>
								</div>
								<div class="col-md-6 row-size">
									<select class="form-control" name="mail_type" id="mail_type">
										<option value="mail" {if $row.mail_type=='mail'}selected{/if}>PHP mail()</option>
										<option value="smtp" {if $row.mail_type=='smtp'}selected{/if}>smtp</option>
									</select>
								</div>
							</div>
							<hr/>
							<div class="row config_smtp" {if $row.mail_type=='mail'}style="display:none;"{/if}>
								<div class="col-md-6">
									<label class="nowrap" for="smtp_host" title="SMTP Host">SMTP Host</label>
								</div>
								<div class="col-md-6 row-size">
									<input class="form-control" name="smtp_host" id="smtp_host" value="{$row.smtp_host}"/>
								</div>
							</div>
							<hr class="config_smtp" {if $row.mail_type=='mail'}style="display:none;"{/if}/>
							<div class="row config_smtp" {if $row.mail_type=='mail'}style="display:none;"{/if}>
								<div class="col-md-6">
									<label class="nowrap" for="smtp_port" title="SMTP Port">SMTP Port</label>
								</div>
								<div class="col-md-6 row-size">
									<input class="form-control" name="smtp_port" id="smtp_port" value="{$row.smtp_port}"/>
								</div>
							</div>
							<hr class="config_smtp" {if $row.mail_type=='mail'}style="display:none;"{/if}/>
							<div class="row config_smtp" {if $row.mail_type=='mail'}style="display:none;"{/if}>
								<div class="col-md-6">
									<label class="nowrap" for="smtp_auth" title="SMTP Auth">SMTP Auth</label>
								</div>
								<div class="col-md-6 row-size">
									<input value="yes" name="smtp_auth" id="smtp_auth" {if $row.smtp_auth=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr class="config_smtp config_smtp_auth" {if $row.mail_type=='mail'||$row.smtp_auth!='yes'}style="display:none;"{/if}/>
							<div class="row config_smtp config_smtp_auth" {if $row.mail_type=='mail'||$row.smtp_auth!='yes'}style="display:none;"{/if}>
								<div class="col-md-6">
									<label class="nowrap" for="smtp_user" title="SMTP Username">SMTP Username</label>
								</div>
								<div class="col-md-6 row-size">
									<input class="form-control" name="smtp_user" id="smtp_user" value="{$row.smtp_user}"/>
								</div>
							</div>
							<hr class="config_smtp config_smtp_auth" {if $row.mail_type=='mail'||$row.smtp_auth!='yes'}style="display:none;"{/if}/>
							<div class="row config_smtp config_smtp_auth" {if $row.mail_type=='mail'||$row.smtp_auth!='yes'}style="display:none;"{/if}>
								<div class="col-md-6">
									<label class="nowrap" for="smtp_pass" title="SMTP Password">SMTP Password</label>
								</div>
								<div class="col-md-6 row-size">
									<input class="form-control" name="smtp_pass" id="smtp_pass" value="{$row.smtp_pass}"/>
								</div>
							</div>
							<hr class="config_smtp config_smtp_auth" {if $row.mail_type=='mail'||$row.smtp_auth!='yes'}style="display:none;"{/if}/>

						</div>

					</div>
				</div>
				<div id="config_videos" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="video_embed" title="Embedding">Embedding</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="video_embed" id="video_embed" {if $row.video_embed=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="video_download" title="Download">Download</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="video_download" id="video_download" {if $row.video_download=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="embed_type" title="Embed Type">Embed Type</label>
								</div>
								<div class="col-md-6 row-size">
									<select class="form-control" name="embed_type" id="embed_type">
										<option value="iframe" {if $row.embed_type=='iframe'}selected{/if}>Iframe</option>
										<option value="embed_object" {if $row.embed_type=='embed_object'}selected{/if}>Embed object</option>
									</select>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-10">
									<label class="nowrap" for="bits_color_warning" title="Enable video disclaimer if video if not compatible with all browsers (If bits color > 8)">Enable video disclaimer if video if not compatible with all browsers (If bits color > 8)</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="bits_color_warning" id="bits_color_warning" {if $row.bits_color_warning=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="seo_vido_url" title="Seo video url pattern">Seo video url pattern</label>
								</div>
								<div class="col-md-6 row-size">
									<select class="form-control" name="seo_vido_url" id="seo_vido_url">
										<option value="0" {if $row.seo_vido_url=='0'}selected{/if}>/video/ABCDXYZ/video-title</option>
										<option value="1" {if $row.seo_vido_url=='1'}selected{/if}>/video-title-v123</option>
										<option value="2" {if $row.seo_vido_url=='2'}selected{/if}>/video/123/video-title</option>
										<option value="3" {if $row.seo_vido_url=='3'}selected{/if}>/video/123_video-title</option>
									</select>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="video_round_views" title="Round views">Round views</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="yes" name="video_round_views" id="video_round_views" {if $row.video_round_views=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="video_categories" title="Max categories for each video">Max categories for each video</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="video_categories" id="video_categories" value="{$row.video_categories}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="vid_cat_width" title="Category Width">Category Width</label>
								</div>
								<div class="col-md-2 row-size">
									<input class="form-control" name="vid_cat_width" id="vid_cat_width" value="{$row.vid_cat_width}"/>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="vid_cat_height" title="Category height">Category height</label>
								</div>
								<div class="col-md-2 row-size">
									<input class="form-control" name="vid_cat_height" id="vid_cat_height" value="{$row.vid_cat_height}"/>
								</div>
							</div>
							<hr/>

						</div>
					</div>
				</div>

                <div id="config_photos" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-3">
									<label class="nowrap" for="photo_ratio" title="Photo ratio"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Your photo thumb and medium size thumb will be resized according to these ratios"> Photo ratio</label>
								</div>
								<div class="col-md-3 row-size">
                                    <select class="form-control" id="photo_ratio" name="photo_ratio">
                                        <option class="form-control" value="4:3" {if $row.photo_ratio=='4:3'}selected{/if} >4:3</option>
                                        <option class="form-control" value="16:9" {if $row.photo_ratio=='16:9'}selected{/if}>16:9</option>
                                        <option class="form-control" value="16:10" {if $row.photo_ratio=='16:10'}selected{/if}>16:10</option>
                                    </select>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="photo_multi_upload" title="Multi-upload"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos, user can upload at once"> Multi-upload</label>
								</div>
								<div class="col-md-2 row-size">
                                    <input class="form-control" type="text" name="photo_multi_upload" id="photo_multi_upload" value="{$row.photo_multi_upload}"/>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_lar_width" title="Large photo width">Large photo width</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input class="form-control" type="text" maxlength="3" name="photo_lar_width" id="photo_lar_width" value="{$row.photo_lar_width}"/>
                                </div>
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_crop" title="Crop Image">Crop Image</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="photo_crop" id="photo_crop" {if $row.photo_crop=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="max_photo_size" title="Max photo size"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Maximum allowed photo size, in MBs"> Max photo size</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input class="form-control" type="text" name="max_photo_size" id="max_photo_size" value="{$row.max_photo_size}"/>
                                </div>
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_download" title="Photo Downloading">Photo Downloading</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="photo_download" id="photo_download" {if $row.photo_download=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" title="Photo thumb size">Thumb size</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="photo_thumb_width" title="Width">Width</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="photo_thumb_width" id="photo_thumb_width" value="{$row.photo_thumb_width}"/>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="photo_thumb_height" title="Height">Height</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="photo_thumb_height" id="photo_thumb_height" value="{$row.photo_thumb_height}"/>
                                </div>
                            </div>
                            <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" title="Photo thumb size">Medium thumb size</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="photo_med_width" title="Width">Width</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="photo_med_width" id="photo_med_width" value="{$row.photo_med_width}"/>
                                </div>
                                <div class="col-md-2">
                                    <label class="nowrap" for="photo_med_height" title="Height">Height</label>
                                </div>
                                <div class="col-md-2">
                                    <input class="form-control" name="photo_med_height" id="photo_med_height" value="{$row.photo_med_height}"/>
                                </div>
                            </div>
                            <hr/>
						</div>
					</div>
				</div>
				<div id="config_comments" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="video_comments" title="Video comments">Video comments</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="video_comments" id="video_comments" {if $row.video_comments=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="channel_comments" title="Channel comments">Channel comments</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="channel_comments" id="channel_comments" {if $row.channel_comments=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_comments" title="Photo comments">Photo comments</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="photo_comments" id="photo_comments" {if $row.photo_comments=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-6">
									<label class="nowrap" for="max_comment_chr" title="Maximum Comment Characters">Maximum Comment Characters</label>
								</div>
								<div class="col-md-6 row-size">
									<input class="form-control" name="max_comment_chr" id="max_comment_chr" value="{$row.max_comment_chr}"/>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-10">
                                    <label class="nowrap" for="anonym_comments" title="Allow guests to comment">Allow guests to comment</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="yes" name="anonym_comments" id="anonym_comments" {if $row.anonym_comments=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="comments_captcha" title="Comments captcha">Comments captcha</label>
								</div>
								<div class="col-md-8 row-size">
									<select class="form-control" name="comments_captcha" id="comments_captcha">
										<option value="all" {if $row.comments_captcha=='all'}selected{/if}>For Everyone</option>
										<option value="guests" {if $row.comments_captcha=='guests'}selected{/if}>For Guests Only</option>
										<option value="none" {if $row.comments_captcha=='none'}selected{/if}>Disabled</option>
									</select>
								</div>
							</div>
							<hr/>

						</div>
					</div>
				</div>
				<div id="config_ratings" class="tab-pane">
					<div class="row">
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="video_rating" title="Video rating">Video rating</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="video_rating" id="video_rating" {if $row.video_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="own_video_rating" title="Rate own video">Rate own video</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="own_video_rating" id="own_video_rating" {if $row.own_video_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="photo_rating" title="Video rating">Photo rating</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="photo_rating" id="photo_rating" {if $row.photo_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                                <div class="col-md-4">
                                    <label class="nowrap" for="own_photo_rating" title="Rate own photo">Rate own photo</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="own_photo_rating" id="own_photo_rating" {if $row.own_photo_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="collection_rating" title="Collection rating">Collection rating</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="collection_rating" id="collection_rating" {if $row.collection_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="own_collection_rating" title="Rate own collection">Rate own collection</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="own_collection_rating" id="own_collection_rating" {if $row.own_collection_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="nowrap" for="comment_rating" title="Comments rating">Comments rating</label>
                                </div>
                                <div class="col-md-2 row-size">
                                    <input value="1" name="comment_rating" id="comment_rating" {if $row.comment_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
                                    <span class="lbl"></span>
                                </div>
                            </div>
                            <hr/>

						</div>
						<div class="col-md-4">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="channel_rating" title="Channel rating">Channel rating</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="channel_rating" id="channel_rating" {if $row.channel_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
								<div class="col-md-4">
									<label class="nowrap" for="own_channel_rating" title="Rate own channel">Rate own channel</label>
								</div>
								<div class="col-md-2 row-size">
									<input value="1" name="own_channel_rating" id="own_channel_rating" {if $row.own_channel_rating=='1'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

						</div>
					</div>
				</div>
				<div id="config_listings" class="tab-pane">
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12">
									<h3>Videos</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_list_per_page" title="Per page">Per page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_list_per_page" id="videos_list_per_page" value="{$row.videos_list_per_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_items_ufav_page" title="Favorites">Favorites</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_items_ufav_page" id="videos_items_ufav_page" value="{$row.videos_items_ufav_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_items_hme_page" title="Home Tabs">Home Tabs</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_items_hme_page" id="videos_items_hme_page" value="{$row.videos_items_hme_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_item_channel_page" title="Channel page">Channel page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_item_channel_page" id="videos_item_channel_page" value="{$row.videos_item_channel_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_items_search_page" title="Search page">Search page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_items_search_page" id="videos_items_search_page" value="{$row.videos_items_search_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="videos_items_uvid_page" title="User Videos">User Videos</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="videos_items_uvid_page" id="videos_items_uvid_page" value="{$row.videos_items_uvid_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="popup_video" title="Home Page Popup Video">Home Page Popup Video</label>
								</div>
								<div class="col-md-4 row-size">
									<input value="yes" name="popup_video" id="popup_video" {if $row.popup_video=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12">
									<h3>Photos</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_main_list" title="Main Limit"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="We use this limit in most of place where photo is displayed like, My Account, Manage Photos, Manage Favotires Photos etc"> Main Limit</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_main_list" id="photo_main_list" value="{$row.photo_main_list}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_home_tabs" title="Home Tabs"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos to display on Homepage"> Home Tabs</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_home_tabs" id="photo_home_tabs" value="{$row.photo_home_tabs}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_search_result" title="Search Result"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos to display on Search page"> Search Result</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_search_result" id="photo_search_result" value="{$row.photo_search_result}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_channel_page" title="Channel Page"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos to display on User's page"> Channel Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_channel_page" id="photo_channel_page" value="{$row.photo_channel_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_user_photos" title="User Photos"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos to display on User's photos page"> User Photos</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_user_photos" id="photo_user_photos" value="{$row.photo_user_photos}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_user_favorites" title="User favorites"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of photos to display on User's favorites page"> User favorites</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_user_favorites" id="photo_user_favorites" value="{$row.photo_user_favorites}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="photo_other_limit" title="Other Limit"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Use anywhere you want"> Other Limit</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="photo_other_limit" id="photo_other_limit" value="{$row.photo_other_limit}"/>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12">
									<h3>Collections</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_per_page" title="Collection Page"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on Collections page"> Collection Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_per_page" id="collection_per_page" value="{$row.collection_per_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_home_page" title="Home Page"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on Homepage"> Home Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_home_page" id="collection_home_page" value="{$row.collection_home_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_items_page" title="Items Page"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of items to display in a Collection"> Items Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_items_page" id="collection_items_page" value="{$row.collection_items_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_search_result" title="Search Result"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on Homepage"> Search Result</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_search_result" id="collection_search_result" value="{$row.collection_search_result}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_channel_page" title="Channel Page"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on Channel page"> Channel Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_channel_page" id="collection_channel_page" value="{$row.collection_channel_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_user_collections" title="User Collections"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on User's collection page"> User Collections</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_user_collections" id="collection_user_collections" value="{$row.collection_user_collections}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="collection_user_favorites" title="User Favorites"><img src="{$imageurl}/help.png" alt="Tips" class="tipsy_tip" title="Number of collections to display on User's favorite page"> User Favorites</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="collection_user_favorites" id="collection_user_favorites" value="{$row.collection_user_favorites}"/>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12">
									<h3>Users</h3>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="channels_list_per_page" title="Per page">Per page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="channels_list_per_page" id="channels_list_per_page" value="{$row.channels_list_per_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="users_items_subscriptions" title="Subscriptions in channel view">Subscriptions in channel view</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="users_items_subscriptions" id="users_items_subscriptions" value="{$row.users_items_subscriptions}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="users_items_search_page" title="Search Page">Search Page</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="users_items_search_page" id="users_items_search_page" value="{$row.users_items_search_page}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="users_items_contacts_channel" title="Users contacts in channel view">Users contacts in channel view</label>
								</div>
								<div class="col-md-4 row-size">
									<input class="form-control" name="users_items_contacts_channel" id="users_items_contacts_channel" value="{$row.users_items_contacts_channel}"/>
								</div>
							</div>
							<hr/>

						</div>

					</div>
				</div>
				<div id="config_proxy" class="tab-pane">
					<div class="row">
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="proxy_enable" title="Enable proxy">Enable proxy</label>
								</div>
								<div class="col-md-4 row-size">
									<input value="yes" name="proxy_enable" id="proxy_enable" {if $row.proxy_enable=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

							<div class="row">
								<div class="col-md-8">
									<label class="nowrap" for="proxy_auth" title="Enable proxy authentification">Enable proxy authentification</label>
								</div>
								<div class="col-md-4 row-size">
									<input value="yes" name="proxy_auth" id="proxy_auth" {if $row.proxy_auth=='yes'}checked{/if} type="checkbox" class="ace ace-switch ace-switch-5"/>
									<span class="lbl"></span>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="proxy_url" title="URL">URL</label>
								</div>
								<div class="col-md-8 row-size">
									<input class="form-control" name="proxy_url" id="proxy_url" value="{$row.proxy_url}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="proxy_username" title="Username">Username</label>
								</div>
								<div class="col-md-8 row-size">
									<input class="form-control" name="proxy_username" id="proxy_username" value="{$row.proxy_username}"/>
								</div>
							</div>
							<hr/>

						</div>
						<div class="col-md-3">
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="proxy_port" title="Port">Port</label>
								</div>
								<div class="col-md-8 row-size">
									<input class="form-control" name="proxy_port" id="proxy_port" value="{$row.proxy_port}"/>
								</div>
							</div>
							<hr/>
							<div class="row">
								<div class="col-md-4">
									<label class="nowrap" for="proxy_password" title="Password">Password</label>
								</div>
								<div class="col-md-8 row-size">
									<input class="form-control" name="proxy_password" id="proxy_password" value="{$row.proxy_password}"/>
								</div>
							</div>
							<hr/>

						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div style="text-align:center;">
		<input type="submit" name="update" class="btn btn-primary btn-sm" value="Update Settings" id="udpate"/>
	</div>
</form>

