{if $data.title neq ""}
<h3>Manage Video Thumbs</h3>
<div class="lead dropdown">
    <a class="btn btn-primary btn-xs dropdown-toggle pull-right" data-toggle="dropdown" href="">Actions <i class="caret"></i></a>
    <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="upload_thumbs.php?video={$data.videoid}&gen_more=true">Regenerate thumbnails</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="edit_video.php?video={$data.videoid}">Back to edit details</a></li>
    </ul>
</div>
<form action="upload_thumbs.php?video={$data.videoid}" method="post" enctype="multipart/form-data" name="set_default_thumb" id="set_default_thumb">
    <fieldset class="fieldset">
        {assign var=vidthumbs value=get_thumb($data,1,TRUE,FALSE,TRUE,FALSE,'168x105')}
        {foreach from=$vidthumbs item=vid_thumb}
        <div class="cbthumbs">
            <div class="row-fluid">
                <ul class="ace-thumbnails">
                    <li>
                        <img src="{$vid_thumb}" height="94" width="150"/>
                        <div class="tools tools-bottom">
                            {if $vid_thumb|getname!='processing'}
                            <a href="?video={$data.videoid}&delete={$vid_thumb|getname}.{$vid_thumb|getext}">
                                <i class="icon-remove red"></i>
                            </a>
                            {/if}
                        </div>
                    </li>
                 </ul>
            </div>
        </div>
        {/foreach}
        <div style="clear:both;"></div>
    </fieldset>
</form>
<form action="upload_thumbs.php?video={$data.videoid}" method="post" enctype="multipart/form-data" name="form1">
    <h5>Upload new thumbnail</h5>
    <input name="vid_thumb[]" type="file"/>
    <br/>
    <input type="submit" name="upload_thumbs" value="Upload thumbnail(s)" class="btn btn-primary btn-sm"/>
</form>
{/if}

