{$ratedBy = has_rated(userid(),$id,$type)}
<!--CB like and dislike section-->
<div class="clearfix rating">
	<div class="clearfix rating-holder">
		<div class="likes like-dislike{if $ratedBy == 'liked'} rated{/if}">
			<a {if !$disable} onclick="_cb.rateNew('{$id}','5','{$type}')"{/if} href="javascript:void(0);"><span class="icon-thumbup"></span></a>
			<span>{prettyNum($likes)}</span>
		</div>
		<div class="dislikes like-dislike{if $ratedBy == 'disliked'} rated{/if}">
			<a {if !$disable} onclick="_cb.rateNew('{$id}','1','{$type}')"{/if} href="javascript:void(0);"><span class="icon-thumbdown"></span></a>
			<span>{prettyNum($dislikes)}</span>
		</div>
	</div>
	<div id="rating_result_container" class="clearfix rating-alert">
        {if $rating_msg}{$rating_msg}{/if}
	</div>
</div>

<script type="text/javascript">
var _percent = '{$perc}';
var _numb = parseInt(_percent);
if ( _numb > 49 ){
    $('._percentage').addClass('likes_perc_more');
} else {
    $('._percentage').addClass('likes_perc_less');
}
</script>