{if $Cbucket->configs.seo == 'no'}
	{$main_url = "/view_collection.php?cid={$collection.collection_id}"}
{else}
	{$main_url = "/collection/{$collection.collection_id}/{$collection.type}/{display_clean($collection.collection_name)}"}
{/if}

{if isset($collection) && !empty($collection)}
{$first_col_thumb = $cbcollection->coll_first_thumb($collection,'l')}
<div class="clearfix collection-item col-lg-3 col-md-3 col-sm-4 col-xs-6">
	<div class="collection-holder">
		<div class="photo-block">
			<a href="{$main_url}" title="{display_clean($collection.collection_name)}}">
				<img alt="{display_clean($collection.collection_name)}" title="{display_clean($collection.collection_name)}" class="img-responsive" id="collection_{$collection.collection_id}" src="{$first_col_thumb}">
				<div class="collection-info">
					<span>{$collection.total_objects}</span>{if $type == 'v'}{lang code="videos"}{else}{lang code="photos"}{/if}
				</div>
			</a>
		</div>
		<img src="{$theme}/images/photo-bg.png" alt="" class="photo-bg">
	</div>
	<span class="title" title="{display_clean($collection.collection_name)}">{display_clean($collection.collection_name)}</span>
</div>
{else}
<div class="photoAppending">
	<a class="photo-holder" href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">
		{get_photo details=$object size='l' class='img-responsive photo-land' output='html'}
		<i class="icon-zoom"></i>
	</a>
	<div class="photo-info">
		{if $photo.photo_title=='no-tag'}
		<strong><a href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">no-title</a></strong>
		{else}
		<strong><a href="{$cbphoto->photo_links($object,'view_item')}" title="{display_clean($object.photo_title)}">{display_clean($object.photo_title)|truncate:30}</a></strong>
		{/if}
		<span>{lang code="by"}&nbsp;<a href="{$userquery->profile_link($object.userid)}">{display_clean($object.username)}</a></span>
	</div>
</div>
{/if}

