{if marked_spammed($comment)}
	{assign var='comment_attr' value='style="display:none;"'}
	{assign var='spam_attr' value='style="display:block"'}
{else}
	{assign var='comment_attr' value=''}
	{assign var='spam_attr' value='style="display:none;"'}
{/if}

{if $rep_mode}

<li id="reply-{$comment.comment_id}" class="commentBox clearfix reply-{$comment.comment_id}">
	<div class="reply-holder">
		<div class="comments-box clearfix">
			{$user_id = $comment.userid}
			{$user=$userquery->get_user_details($user_id)}
			<div class="comment-avatar">
				<img src="{avatar details=$user}" alt="" class="reply_pic">
			</div>
			<div class="comment-info">
				<strong class="commenter">
			{if isSectionEnabled('channels')}
				<a href="{$userquery->profile_link($video)}">
				{if $comment.anonym_name != ''}
					{display_clean($comment.anonym_name)} ({lang code='guest'})
				{else}
					{display_clean(name($user))}
				{/if}
				</a>
				<span>{$comment.date_added|niceTime}</span>
			{else}
				{if $comment.anonym_name != ''}
					{display_clean($comment.anonym_name)} ({lang code='guest'})
				{else}
					{display_clean(name($user))}
				{/if}
				<span>{$comment.date_added|niceTime}</span>
			{/if}
				</strong>
				<div class="clearfix commented-txt">
					<p>{display_clean($comment.comment|comment)}</p>
				</div>
			{if userid()}
				<div class="com-info-actions clearfix">

					<div class="reply">
						{if !$comment.userid==userid() || has_access('admin_access',true)}
						<a href="javascript:void(0);" onclick="spam_comment('{$comment.comment_id}','{$type}','{$type_id}')">{lang code='spam'}</a>
						{/if}
						{if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()} &middot; <a href="javascript:void(0);" onclick="delete_comment('{$comment.comment_id}','{$type}')">{lang code='delete'}</a>{/if}
					</div>
				</div>
			{/if}
			</div>
		</div>
	</div>
</li>


{else}
	<li id="comment_{$comment.comment_id}" class="clearfix" {$comment_attr}>
		<hr>
		<div class="comments-box clearfix">
			{$user_id=$comment.userid}
			{$user=$userquery->get_user_details($user_id)}
			<div class="comment-avatar">
				<img src="{avatar details=$user}" alt="" class="comnt_pic">
			</div>
			<div class="comment-info">
				<strong class="commenter">
					{if $comment.anonym_name != ''}
						{display_clean($comment.anonym_name)} ({lang code='guest'})
					<span>{$comment.date_added|niceTime}</span>
					<div id="says_{$comment.comment_id}" speaker="{display_clean($comment.anonym_name)}"></div>
					{else}
						{if isSectionEnabled('channels')}
							<a href="{$userquery->profile_link($user)}">{display_clean(name($user))}</a>
						{else}
							{display_clean(name($user))}
						{/if}
					<span>{$comment.date_added|niceTime}</span>
					<div id="says_{$comment.comment_id}" speaker="{display_clean(name($user))}"></div>
					{/if}
				</strong>
				<div class="clearfix commented-txt">
					<p>{display_clean($comment.comment|comment)}</p>
				</div>
				{if userid()}
				<div class="com-info-actions clearfix">
					<div class="reply">
						{if $userquery->login_check('',true)}
						<a href="javascript:void(0);" onclick="reply_box('{$comment.comment_id}','{$comment.type}','{$comment.type_id}')">{lang code='reply'}</a>
						{/if}
						{if !$comment.userid==userid() || has_access('admin_access',true)}
						&nbsp; <a href="javascript:void(0);" onclick="spam_comment('{$comment.comment_id}','{$type}','{$type_id}')">{lang code='spam'}</a>
						{/if}
						{if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()} &nbsp; <a href="javascript:void(0);" onclick="delete_comment('{$comment.comment_id}','{$type}')">{lang code='delete'}</a>{/if}
					</div>
				</div>
				{/if}
			</div>
		</div>
		<div class="reply-box-{$comment.comment_id} clearfix" style="display:none;"></div>
	<ul class="comments-reply-{$comment.comment_id}">
		{if $comment.children}
			{$child_comment = $comment.children}
			{foreach from=$child_comment item=replies}
				{foreach from=$replies|@array_reverse item=reply}
					{if $reply@iteration < 4}
		<li id="reply-{$comment.comment_id}" class="commentBox clearfix reply-{$reply.comment_id}">
			<div class="reply-holder">
				<div class="comments-box clearfix">
					{$user_id = $reply.userid}
					{$user=$userquery->get_user_details($user_id)}
					<div class="comment-avatar">
						<img src="{avatar details=$user}" alt="" class="reply_pic">
					</div>
					<div class="comment-info">
						<strong class="commenter">
							{if $comment.anonym_name != '' && $user.username == ''}
								{display_clean($comment.anonym_name)} ({lang code='guest'})
							{else}
								{if isSectionEnabled('channels')}
									<a href="{$userquery->profile_link($user)}">{display_clean(name($user))}</a>
								{else}
									{display_clean(name($user))}
								{/if}
							{/if}

							<span>{$reply.date_added|niceTime}</span>
						</strong>
						<div class="clearfix commented-txt">
							<p>{$reply.comment|comment}</p>
						</div>
						{if userid()}
						<div class="com-info-actions clearfix">
							<div class="reply">
								{if !$comment.userid==userid() || has_access('admin_access',true)}
								<a href="javascript:void(0);" onclick="spam_comment('{$reply.comment_id}','{$type}','{$type_id}')">{lang code='spam'}</a>
								{/if}
								{if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()} &middot; <a href="javascript:void(0);" onclick="delete_comment('{$reply.comment_id}','{$type}')">{lang code='delete'}</a>{/if}
							</div>
						</div>
						{/if}
					</div>
				</div>
			</div>
		</li>
		{else}
			{$flag = $comment.comment_id}
		<div class="more-comments-{$comment.comment_id}" style="display:none;">
			<li id="reply-{$comment.comment_id}" class="commentBox clearfix reply-{$reply.comment_id}">
				<div class="reply-holder">
					<div class="comments-box clearfix">
						{$user_id = $reply.userid}
						{$user=$userquery->get_user_details($user_id)}
						<div class="comment-avatar">
							<img src="{avatar details=$user}" class="reply_pic">
						</div>
						<div class="comment-info">
							<strong class="commenter">
								{if $comment.anonym_name != ''}
									{display_clean($comment.anonym_name)} ({lang code='anonymous'})
								{else}
									{if isSectionEnabled('channels')}
										<a href="{$userquery->profile_link($user)}">{display_clean(name($user))}</a>
									{else}
										{display_clean(name($user))}
									{/if}
								{/if}
								<span>{$reply.date_added|niceTime}</span>
							</strong>
							<div class="clearfix commented-txt">
								<p>{$reply.comment|comment}</p>
							</div>
							{if userid()}
							<div class="com-info-actions clearfix">
								<div class="reply">
									<a href="javascript:void(0);" onclick="spam_comment('{$reply.comment_id}','{$type}','{$type_id}')">{lang code='spam'}</a>
									{if has_access('admin_del_access') || $comment.userid==userid() || $comment.type_owner_id==userid()} &middot; <a href="javascript:void(0);" onclick="delete_comment('{$reply.comment_id}','{$type}')">{lang code='delete'}</a>{/if}
								</div>
							</div>
							{/if}
						</div>
					</div>

				</div>
			</li>

		</div>

		{/if} 

		{/foreach}
		{/foreach}

		{/if}
	</ul>
	{if $flag}
	<div class="comments-load-more moad-more-btn-{$flag} clearfix" data-flag="{$flag}">
		<span class="btn btn-sm btn-danger">{lang code='more_replies'}...</span>
	</div>
	{/if}

</li>
{/if}
