{ANCHOR place="play_front_anchor"}
<footer id="footer" class="clearfix">
	{$Cbucket->footer()}
	<div class="container">
		<div class="footer-holder">
			{ANCHOR place="beastAll"}
			<ul class="footer-links column">
				{$foot_menu=foot_menu()}
				{foreach from=$foot_menu item=fm}
				{if $fm.name!=''}
					<li><a href="{$fm.link}" {if $fm.target} target="{$fm.target}"{/if} {if $fm.onclick} onclick="{$fm.onclick}" {/if}>{$fm.name}</a></li>
				{/if}
				{/foreach}
			</ul>
			<div class="lang_wrapper column">
				{if config("allow_language_change")}
				{$langs = $lang_obj->get_langs('yes')}
				{$total_langs = count($langs)}
				{if $total_langs >= 2}
					<div class="langdrop dropup">
					<button title="Change website language" class="btn btn-default dropdown-toggle" id="cblang-selector" type="button" data-toggle="dropdown">
						<span>{$lang_obj->lang_name}</span>
						<i class="icon-down-arrow"></i>
					</button>
					<ul class="dropdown-menu">
						{foreach $langs as $lang}
							{if $lang_obj->lang == $lang.language_code}
								{$selected = "selected" }
							{else}
								{$selected = "" }
							{/if}
							<li data-lang="{$lang.language_code}" class="pick-lang {$selected}"><a href="javascript:void(0);">{$lang.language_name}</a></li>
						{/foreach}
				 	</ul>
				</div>
				{/if}
				{/if}
			</div>
			<div class="copyright-poweredby column">
				<span>©ClipBucket, {lang code='edited_by'} MacWarrior</span>
			</div>
		</div>
	</div><!-- end of custom-container -->
</footer>
<!-- cd-popup -->
<div class="cd-popup" role="alert">
	<div class="cb-popup-container clearfix">
		<div class="modal-inset">	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col my-modal-content"></div>
		</div>
	</div>
	<a class="cd-popup-close" href="#">close</a>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on('click', '#cbsearch', function (e) {
            e.preventDefault();
            searchForm = $('.search-form');
            searchQuery = $('#query').val();
            queryLen = searchQuery.length;
            if (queryLen <= 2) {
                msg = '{lang code="search_too_short" sprintf="<b>' + searchQuery + '</b>"}';
                _cb.throwHeadMsg('warning', msg, 3000, true);
            } else {
                $('.search-form').submit();
            }
        });
    });
</script>

<!-- close-cd-popup -->
{if $development_mode}
<script type="text/javascript" src="/js/photos.js"></script>
{else}
<script type="text/javascript" src="/js/photos.min.js"></script>
{/if}

{$Cbucket->footer()}