{$myAccountLinks = $userquery->my_account_links()}
{$leftMenuLinks = array_slice($myAccountLinks, 7)}
<div class="container manage-page marginBottom">
	<div class="marginBottom">
		<div class="row cb-box">
		  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs">
			{include file="$style_dir/blocks/manage/userMenuLeft.html"}
		</div>
			<div class="mainContent col-md-9 col-sm-9 col-xs-12">

					<form method="post" class="upload_form" name="form1" enctype="multipart/form-data">
					{if $mode == "manage" || $mode == ""}
						<h2>{lang code='manage_collections'}</h2>
						<div>
							<img src="{$imageurl}/dot.gif" class="arrow_pointing" />
							<input type="submit" name="delete_selected" id="delete_selected" value="{lang code='remove'}" class="btn btn-primary btn-sm" />
						</div>
						<br>
						<div class="marginTop">
							<table class="table table-bordered table-striped" style="margin-bottom:0;">
								<tr>
									<td width="3%">
										<input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
									</td>
									<td width="50%">{lang code='collection_name'}</td>
									<td width="15%">{lang code='date_added'}</td>
									<td width="9%">{lang code='views'}</td>
									<td width="12%">{lang code='total_items'}</td>
									<td width="6%">{lang code='type'}</td>
									<td width="5%" class="last_td">{lang code='active'}</td>
								</tr>

						{section loop=$usr_collects name=clist}
							{include file="$style_dir/blocks/manage/account_collections.html" collection=$usr_collects[clist]}
						{sectionelse}
							<div>
								{lang code="no_collection_found"}
							</div>   
						{/section}
							</table>
						</div>

						{*include file="$style_dir/blocks/manage/user_account_pagination.html"*}
						{include file="$style_dir/blocks/pagination.html"} 
					{/if}

					{if $mode == "edit_collection"}
						<div class="page-hidding" ><h3>{lang code='update_collection'}</h3>
							<div class="pull-right" style="margin-top:-30px;"><a class="btn btn-primary " href="/view_collection.php?cid={$smarty.get.cid}&type={$smarty.get.type}">{lang code="back_to_collection"}</a></div>
						</div>

						<input type="hidden" value="{$c.collection_id}" name="collection_id" id="collection_id">
						<div class="upload_info">
							<div class="account_form">
								{foreach from=$fields item=field}
									<div class="form-group">
										<label for="{$field.id}">{$field.title}</label>
										{if $field.hint_1}<div class="hint">{$field.hint_1}</div>{/if}
										{ANCHOR place=$field.anchor_before}
										{$field.class="form-control"}
										{$formObj->createField($field)}
										{if $field.hint_2}
										<div class="hint">{$field.hint_2}</div>
                                        {/if}
									</div>
								{/foreach}
								{foreach from=$other_fields item=field}
									<div class="form-group">
										<label for="{$field.id}" class="show">{$field.title}</label>
										{if $field.hint_1}<div class="hint">{$field.hint_1}</div>{/if}
										{$field.label_class='radio-inline'}
										{$field.notShowSeprator=true}
										{$formObj->createField($field)}
										{if $field.hint_2}
                                        <small>{$field.hint_2}</small>
                                        {/if}
									</div>
								{/foreach}            
							</div>
							<div class="text-right">
								<input type="submit" name="update_collection" class="btn btn-primary btn-lg" value="{lang code='update_collection'}">
							</div>
						</div>
					{/if}

					{if $mode == "add_new"}
						<div class="page-hidding"><h3>{lang code='add_new_collection'}</h3>
						<div class="pull-right" style="margin-top:-30px;"><a class="btn btn-primary " href="/collections.php">{lang code="back_to_collection"}</a></div>
						</div>
						{if (has_access('allow_create_collection',false,$verify_logged_user))}
						<div class="upload_info">
							<div class="account_form">
								{foreach from=$fields item=field}
									<div class="form-group">
										<label for="{$field.id}">{$field.title}</label>
										{if $field.hint_1}<div class="hint">{$field.hint_1}</div>{/if}
										{ANCHOR place=$field.anchor_before}
										{$field.class="form-control"}
										{$formObj->createField($field)}
										{if $field.hint_2}
										<div class="hint">{$field.hint_2}</div>{/if}
									</div>
								{/foreach}
								{foreach from=$other_fields item=field}
									<div class="form-group">
										<label for="{$field.id}" class="show">{$field.title}</label>
										{if $field.hint_1}<div class="hint">{$field.hint_1}</div>{/if}
										{$field.label_class='radio-inline'}
										{$field.notShowSeprator=true}
										{$formObj->createField($field)}
										{if $field.hint_2}
										<small>{$field.hint_2}</small>{/if}
									</div>
								{/foreach}            
							</div>
							<div class="text-right">
								<input type="submit" name="add_collection" class="btn btn-primary" value="{lang code='add_new_collection'}">
							</div>
						</div>
						{else}
						<div class="alert alert-danger">
							<strong>{lang code="creating_collection_is_disabled"}</strong>
						</div>
						{/if}
					{/if}

					{if $mode == "manage_items" || $mode == "collection_items"}
						<h2>{lang code='manage_items'} - {display_clean($c.collection_name)}</h2>
						<div>
							<img src="{$imageurl}/dot.gif" class="arrow_pointing" style="margin-right:10px;" />
							<input type="submit" name="delete_selected" id="delete_selected" value="{lang code='remove'}" class="small_button" />
						</div>
						<div>
							<table class="table table-striped table-bordered" style="margin-bottom:0;">
								<tr>
								<td width="3%">
									<input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
								</td>
								<td width="50%">{lang code='title'}</td>
								<td width="15%" align="center">{lang code='date_added'}</td>
								<td width="25%" align="center">{lang code='views'}</td>
								<td width="7%" class="last_td" align="center">{lang code='remove'}</td>
								</tr>
							</table>
						</div>
						{section loop=$objs name=olist}
							{include file="$style_dir/blocks/manage/account_collections.html" display_type="items" collection=$objs[olist]}
						{sectionelse}
							<div align="center" style="font:bold 11px Tahoma; margin-top:5px;">{lang code="no_items_found_in_collect"}</div>
						{/section}
						{include file="$style_dir/blocks/pagination.html"}    
					{/if}

					{if $mode == "favorite"}
						<h2>{lang code="manage_favorite_collections"}</h2>
						<div>
							<img src="{$imageurl}/dot.gif" class="arrow_pointing" style="margin-right:10px;" />
							<input type="submit" name="remove_selected_favs" id="remove_selected_favs" value="{lang code='remove'}" class="btn btn-primary btn-sm" />
						</div>
						<br>
						<div class="marginTop">
							<table class="table table-bordered table-striped" style="margin-bottom:0;">
								<tr>
								<td width="3%">
									<input type="checkbox" name="checkall" onclick="checkUncheckAll(this);"/>
								</td>
								<td width="50%">{lang code='title'}</td>
								<td width="15%">{lang code='date_added'}</td>
								<td width="100" class="last_td">{lang code='type'}</td>
								<td width="100" class="last_td">{lang code='views'}</td>
								</tr>
								{section loop=$collections name=list}
								{include file="$style_dir/blocks/manage/account_collections.html" display_type="favorite" collection=$collections[list]}
							{sectionelse}
								<div align="center" style="font:bold 11px Tahoma;margin:5px 0;">
									{lang code="you_dont_have_fav_collections"}
								</div>
							{/section}
							</table>
						</div>
						
						{*include file="$style_dir/blocks/manage/user_account_pagination.html"*}
						{include file="$style_dir/blocks/pagination.html"}        
					{/if}
					</form>
			   
			</div>
	</div>  
	</div>
</div>
<div style="height:20px;"> </div>
