<div id="main" class="container clearfix">
	<div class="clearfix">
		<section id="content" class="clearfix">
			{if config("enable_advertisement") == "yes"}
			<div class="clearfix leaderboard-ad ad">{AD place='ad_728x90'}</div>
			{/if}
			<h1>
				{display_clean($c.collection_name)}&nbsp;
				({$c.total_objects}&nbsp;{lang code="{$c.type}"})
				{lang code='collection' assign='object_type'}
				{uploadButton details=$c output='link' target="_blank" class='btn btn-success pull-right'}
			</h1>

			{if $c.type == 'photos'}
			<div class="photos clearfix">
				{section name=list loop=$objects}
				<div class="item-photo col-lg-4 col-md-4 col-sm-6 col-xs-12">
				{include file="$style_dir/blocks/collection.html" object=$objects[list] display_type=view_collection type=$c.type}
				</div>
				{sectionelse}
				<div class="well well-info">{lang code='no_photos_found'}</div>
				{/section}
			</div>
			{else}
			<div class="videos clearfix">
				{if $objects}
					{foreach $objects as $video}
						<div class="item-video col-lg-3 col-md-4 col-sm-4 col-xs-12">
						{include file="$style_dir/blocks/videos/video.html" display_type='homeVideos'}
						</div>
					{/foreach}
				{else}
					<div class="well well-info">{lang code='no_videos_found'}</div>
				{/if}
			</div>
			{/if}
			<div align="center" class="clearfix">
				{include file="$style_dir/blocks/pagination.html"}
			</div>

			<div class="clearfix fav-repo">
				<div class="show clearfix photoStats">
					<a href="javascript:void(0);" class="btn btn-ghost" id="addToFav" onclick="slide_up_watch_video('#video_action_result_cont');_cb.add_to_favNew('collection','{$c.collection_id}');">{lang code='add_to_my_favorites'}</a>
					<a href="javascript:void(0);" class="btn btn-ghost" id="flagPhotoButton" onclick="$('#flag_item').toggle();">{lang code='report_this'}</a>
				</div>
				
				<div class="video_action_result_boxes clearfix">
					{show_flag_form id=$c.collection_id type=Collection}
					<div class="action_box" style="display:none;" id="video_action_result_cont"></div>
				</div>

				<ul class="clearfix desc-list">
					<li>
						<strong>{lang code="uploaded"}:</strong>&nbsp;{$c.date_added|niceTime}
					</li>
					<li>
						<strong>{lang code="views"}:</strong>&nbsp;{$c.views|number_format}
					</li>
					<li>
						<strong>{lang code="category"}:</strong>&nbsp;{$c.category|categories:collections}
					</li>
					<li>	
						<strong>{lang code="tags"}:</strong>&nbsp;{$c.collection_tags|tags:collections}
					</li>
				</ul>
			</div>

			<div class="clearfix comments-block">
				{if $myquery->is_commentable($c,'collection')}

				<div class="collectionComments addComment">
					<h2>
						{if $c.total_comments <= 1 }
							{lang code='comment'}
						{else}
							{{lang code='comments'} }
						{/if}
						({$c.total_comments})
					</h2>
					<span id="show-comments" class="icon-down-arrow" title="{lang code='show_comments'}"></span>
					<span id="hide-comments" class="icon-up-arrow" title="{lang code='hide_comments'}" style="display:none;"></span>

					<div id="bloc-comment" style="display:none;">
						{include file="$style_dir/blocks/comments/add_comment.html" id=$c.collection_id type='cl'}

						<div class="userComments">
							<ul id="userCommentsList" style="margin-left:-40px;">
							</ul>
						</div>
					</div>
				</div>

				{else}
				<div align="center" class="moveL no_comments">
					{lang code='comm_disabled_for_collection'}
				</div>
				{/if}
			</div>
		</section>
		<aside id="sidebar">
			{if config("enable_advertisement") == "yes"}
			<div class="box-ad ad">{AD place='ad_300x250'}</div>
			{/if}
			{$featured=get_photos(["featured"=>"yes","limit"=>6])}
			{if $featured}
			<h2>{lang code='featured_photos'}</h2>
			<div class="clearfix sidebar-items">
				<div class="row">
					{foreach $featured as $photo}
						<div class="item-photo col-lg-6 col-md-6 col-sm-12 col-xs-12">
							{include file="$style_dir/blocks/photo.html" display_type='featuredPhoto_sidebar'}
						</div>
					{/foreach}
				</div>
			</div>
			{/if}
			{$row = $myquery->Get_Website_Details()}
			{if $row.collectionsSection == 'yes'}
				{$collections = $cbcollection->get_collections(['limit'=>5, 'active'=>'yes'])}
				<h2>{lang code="top_collections"}</h2>
				<div class="clearfix sidebar-items collections-grid">
					{$limit=10}
					{if $collections}
					<div class="clearfix row">
						{foreach from=$collections item=collection}
							<div class="clearfix collection-item col-lg-6 col-md-6 col-sm-12 col-xs-12">
								{include file="$style_dir/blocks/collection-item.html"}
							</div>
						{/foreach}
					</div>
					{else}
					<div class="well well-info">{lang code='no_items_found_in_collect'}</div>
					{/if}
				</div>
			{/if}
		</aside>
	</div>
	<script>
		$(document).ready(function(){
			getAllComments('cl','{$c.collection_id}','{$c.last_commented}',1,'{$c.total_comments}','{$object_type}');
			var adHtml = $('.ad-holder').html();
			if(adHtml<1){
				$('.ad-holder').parent().remove();
				$('#photos').parent().removeClass('col-lg-10 col-md-10 col-sm-10');
				$('#photos').parent().addClass('clearfix col-lg-12 col-md-12 col-sm-12');
			}
		});
	</script>
</div>