<!-- Following is the code for cb ultimate invideo ads settings  -->
{$tcomments_params = ['function'=>'get_ultimate_ads']}
{$current_ad = get_my_function($tcomments_params)}
{if !empty($current_ad)}
	{$play_ad = true}
{/if}
<!-- End  -->

<!-- This code is added for timecomments plugin-->
{$tcomments_params = ['function'=>'get_timeCommnets','videoid'=>$vdata.videoid]}
{$Comments_allowed = $myquery->is_commentable($vdata,'v') }
{$timecomments = get_my_function($tcomments_params)}
<!-- End -->

<!-- This code is added for instance manager Interactive ads plugin-->
{$v_editor_params = ['function'=>'get_video_editor']}
{$video_editor_enabled = get_my_function($v_editor_params)}
<!-- End -->

{$svg_manager_params = ['function'=>'get_svg_manager']}
{$svg_manager = get_my_function($svg_manager_params)}
{if $svg_manager}
    {$svg_manager}
{/if}

<!-- This code is added for instance manager Interactive ads plugin intances-->
{if !$video_editor_enabled }
	{$intance_params = ['function'=>'get_slot','videoid'=>$vdata.videoid]}
	{$active_instances = get_my_function($intance_params)}
	{if is_array($active_instances)}
		{$active_instances = json_encode($active_instances)}
	{/if}
{/if}
<!-- End -->

<!-- This code is added for Related Videos carousel plugin-->
{foreach $videos as $video}
	{$related['imageSrc'] = get_thumb($video,1,FALSE,FALSE,TRUE,FALSE,'168x105')}
	{$related['url'] = video_link($video)}
	{$related['title'] = display_clean($video.title)|truncate:30}
	{$related_videos[] = $related}
{/foreach}
{$related_videos = json_encode($related_videos)}
<!-- End -->

<script type="text/javascript">
    var lang_by = "{lang code='by'}";
    var lang_quality = "{lang code='quality'}";
</script>

{if $development_mode}
<script type="text/javascript" src="{$cb_vjs_player_url}/js/video.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/clipbucket/videojs-clipbucket.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/resolution/videojs-resolution.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/playinline/iphone-inline-video.js"></script>

<link rel="stylesheet" href="{$cb_vjs_player_url}/css/video-js.css">
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/clipbucket/videojs-clipbucket.css">
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/resolution/videojs-resolution.css">

{else}
<script type="text/javascript" src="{$cb_vjs_player_url}/js/video.min.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/clipbucket/videojs-clipbucket.min.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/resolution/videojs-resolution.min.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/playinline/iphone-inline-video.min.js"></script>

<link rel="stylesheet" href="{$cb_vjs_player_url}/css/video-js.min.css">
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/clipbucket/videojs-clipbucket.min.css">
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/resolution/videojs-resolution.min.css">
{/if}

<script type="text/javascript" src="{$cb_vjs_player_url}/lang/{get_current_language()}.js"></script>

{if config('chromecast')=='yes'}
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/chromecast/cast_sender.js"></script>
	{if $development_mode}
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/chromecast/videojs-chromecast.js"></script>
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/chromecast/videojs-chromecast.css">
	{else}
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/chromecast/videojs-chromecast.min.js"></script>
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/chromecast/videojs-chromecast.min.css">
	{/if}
{/if}

{if config('player_thumbnails')=='yes'}
	{if $development_mode}
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/thumbnails/videojs-thumbnails.js"></script>
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/thumbnails/videojs-thumbnails.css">
	{else}
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/thumbnails/videojs-thumbnails.min.js"></script>
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/thumbnails/videojs-thumbnails.min.css">
	{/if}
{/if}










{if config("enable_advertisement") == "yes"}
{if $development_mode}
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/ads/videojs.ads.css">

<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/ads/videojs-contrib-ads.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/ads/videojs.ads.js"></script>

{else}
<link rel="stylesheet" href="{$cb_vjs_player_url}/plugin/ads/videojs.ads.min.css">

<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/ads/videojs-contrib-ads.min.js"></script>
<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/ads/videojs.ads.min.js"></script>
{/if}

<script type="text/javascript" src="{$cb_vjs_player_url}/plugin/ads/cb_ultimate_ads.js"></script>







<link rel="stylesheet" href="{$cb_vjs_player_url}/css/videojs.ima.css">
<script type="text/javascript" src="{$cb_vjs_player_url}/js/videojs.ima.js"></script>


	{if $play_ad == true}
<script type="text/javascript" src="//imasdk.googleapis.com/js/sdkloader/ima3.js"></script>
	{/if}
{/if}


{if $cb_timecomments_plugin == 'installed'}
<script type="text/javascript" src="{$cb_vjs_player_url}/js/timecomments.js"></script>
{/if}

<video playsinline id="cb_video_js_{$vdata.videoid}" class="video-js vjs-default-skin vjs-show-big-play-button-on-pause" height="{$height}" width="{$width}" poster="{getThumb vdetails=$vdata size=768x432}" >
	{foreach $video_files as $file}
		{$quality = get_cbvjs_quality($file, $vdata['file_type'])}
        {if $vdata['file_type'] == 'hls'}
    <source src='{$file}' type="application/x-mpegURL" label="{$myquery->getVideoResolutionTitleFromHeight($quality)}" res="{$quality}" />
        {else}
    <source src='{$file}' type="video/mp4" label="{$myquery->getVideoResolutionTitleFromHeight($quality)}" res="{$quality}" />
        {/if}
    {/foreach}
	{if config('player_subtitles')}
		{$subtitles = get_video_subtitles($vdata)}
		{if $subtitles}
			{foreach $subtitles as $file}
				<track kind="captions" src="{$file['url']}" label="{display_clean($file['title'])}" />
			{/foreach}
		{/if}
	{/if}
    {ANCHOR place="play_def_sub" data=$vdata.videoid}
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>

<script type="text/javascript">
	var vid_id = "{$vdata.videoid}";
	var autoplay = "{config('autoplay_video')}" === 'yes';

	//player settings
	var cb_player_setup = {
		plugins : { }, 
		"techOrder" : ['html5'],
		"controls": true,
		"autoplay": autoplay,
		"preload": "auto",
		"muted": false,
		"loop" : false
	};

	//Setting CallBack
	var cb_vjs_callback = function(){

        // PLUGIN : Clipbucket - Header
        var header_options = {
			uploader : "{display_clean($vdata.username)}",
			videotitle : "{display_clean($vdata.title)}",
			videoid : vid_id
        };
	    this.clipbucket_header(header_options);

		// PLUGIN : Clipbucket - Controlbar Logo
		if( "{config('control_bar_logo')}" === 'yes' ){
			var controlbar_logo_options = {
				branding_logo : "{config('control_bar_logo_url')}",
				product_link : "{config('player_logo_url')}"
			};
			this.clipbucket_controlbar_logo(controlbar_logo_options);
        }

        // PLUGIN : Clipbucket - Volume
		this.clipbucket_volume();

        // PLUGIN : resolution
        var res_options = {
            default : "{get_cbvjs_quality_type($video_files, $vdata['file_type'])}",
            dynamicLabel : false
        };
        this.videoJsResolutionSwitcher(res_options);


        {if config('contextual_menu_disabled') === 'yes'}
		$(".video-js").on("contextmenu",function() {
			return false;
		});
		{/if}

		{if config('player_thumbnails') === 'yes'}
		this.thumbnails({get_player_thumbs_json($vdata)});
		{/if}

		{if config("enable_advertisement") === 'yes'}
		//Calling Ima Ads plugin
		if ("{$play_ad}"){
			var ad_options = {
			  	ad_id: "{$current_ad.ad_id}",
			    ad_code: "{$current_ad.ad_tag}",
			    autoplay: autoplay
			};
			this.cb_ultimate_ads(ad_options);
		}

        //Calling interactive ads plugin
        var i_instances = '{$active_instances}';
        if (i_instances){
            var i_instances_settings = {
                enable : true,
                dummy : false,
                instances : JSON.parse(i_instances)
            };
            this.interactiveAds(i_instances_settings);
        }
		{/if}

		//Calling TimeComments switcher plugin
        var cb_timecomments_plugin = "{$cb_timecomments_plugin}";
		if ( cb_timecomments_plugin === 'installed'  && typeof cb_timecomments_plugin !== 'undefined')
		{
			var timecomments = '{$timecomments}';
			var comments_options = {
				comments : timecomments,
				dummy : false,
				videoid : vid_id,
				userid : "{userid()}",
				userprofile : "{$userquery->avatar('','m',userid())}",
				username : "{display_clean(user_name())}",
				allowComments : "{$Comments_allowed}",
				forceShow : true
			};
			this.timecomments(comments_options);
			if (typeof timecomments != 'undefined' && timecomments !== ''){
				console.log("Initialized Time Comments");
			}else{
				console.log("Time Comments are empty.. /");
			}
		}

        //Calling instance manager plugin for backend
        var video_editor_enabled = "{$video_editor_enabled}";
		if ( video_editor_enabled && typeof video_editor_enabled != 'undefined'){
			var instance_manager_settings = {
			    slot_id : slot_id
			};
			this.instanceManager(instance_manager_settings);
		}

		new_player_height(vid_id);
	}
	//Initializing
	var cb_player = new videojs('cb_video_js_'+vid_id, cb_player_setup, cb_vjs_callback);

	$(window).resize(function(event) {
		new_player_height(vid_id);
	});
</script>

